/*genearl*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka One', cursive;
}

.titolo{
  padding-top: 20px;
  text-align: center;
  color: rgb(231, 82, 231);
}

.paragraf{
  padding-top: 20px;
  text-align: center;
}